common --enable_bzlmod
build --platforms=//build:macos_arm64
build --host_platform=//build:macos_arm64
build --compilation_mode=opt
build --macos_minimum_os=14.0
build --copt=-mmacosx-version-min=14.0
build --linkopt=-mmacosx-version-min=14.0
build --host_copt=-mmacosx-version-min=14.0
build --host_linkopt=-mmacosx-version-min=14.0
build --action_env=PATH=/usr/bin:/bin:/usr/sbin:/sbin
build --repo_env=CC=/usr/bin/clang
build --repo_env=CXX=/usr/bin/clang++
build --incompatible_strict_action_env
build --spawn_strategy=sandboxed
build --sandbox_default_allow_network=false
test --test_output=errors
build --action_env=SDKROOT=/Library/Developer/CommandLineTools/SDKs/MacOSX26.5.sdk
build --action_env=MACOSX_DEPLOYMENT_TARGET=14.0
